.vscode/**
.vscode-test/**
src/**
!src/ui/**
.gitignore
.yarnrc
node_modules/
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
file_walker/**
*.md
!README.md
!README_EN.md
!LICENSE.md
.claude/
